<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Ambient Temperature</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Fernando José Lourenço">
        <link rel="shortcut icon" href="../docs-assets/ico/favicon.png">

        <!-- Bootstrap core CSS -->
        <link href="../static/dist/css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="../static/navbar-fixed-top.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        {% if session.showgraph %}
        {{ graph }}
        {% endif %}
    </head>

    <body>
        <!--
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        -->

        <!-- Fixed navbar -->
         <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Ambient Temperature</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="/about">About</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Filter<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Dates</li>
                    <li><a href="#"><span class="glyphicon glyphicon-ok"></span> Last 24 hours</a></li>
                    <li><a href="#">Period</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Sensors</li>
                    <li><a href="#"><span class="glyphicon glyphicon-ok"></span> All sensors</a></li>
                    <li><a href="#">Selected Sensors</a></li>
                  </ul>
                </li>

                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Show<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li class="dropdown-header">Configure</li>
                    <li><a href="#"><span class="glyphicon glyphicon-ok"></span> Graphical data</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-ok"></span> Last hour</a></li>
                  </ul>
                </li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="../navbar/">Português</a></li>
                <li><a href="../navbar-static-top/"><span class="glyphicon glyphicon-globe"></span> English</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </div>

        <div class="container">

          {% for message in get_flashed_messages() %}
            <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
            </div>
          {% endfor %}
          {% block body %}{% endblock %}
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
        <script src="../static/dist/js/bootstrap.min.js"></script>

    </body>

</html>