{% extends "layout.html" %}
{% block body %}
    {% if session.showgraph %}
        <script>
        function copyText()
        {
            alert(document.getElementById("filename").value)
        }
        </script>

        <div class="panel panel-primary">
            <div class="panel-body">

                <h4>
                <span class="label label-default">
                <span class="glyphicon glyphicon-cloud-download"></span>
                    <a href="{{ config['SUBFOLDER'] }}/uploads/excelfile.xls">Download excel data</a>
                </span>
                </h4>
                <div id="chart_div" style="width: 100%; height: 500px; display: block; margin-left: auto; margin-right: auto;"></div>
            </div>
        </div>
    {% else %}
    {% endif %}

  {% if session.showlasthour %}
      <div class="panel panel-primary">
      <div class="panel-title">Last Hour data (all sensors)</div>
      <div class="panel-content">
      {{ lasthour }}
      </div>
      </div>
  {% endif %}
{% endblock %}
