{% extends "layout.html" %}
{% block body %}
<script>
function setValue(id) {
    document.getElementById("rowid").value = id;
}
function getValue() {
    return document.getElementById("rowid").value;
}
function doDelete() {
    id = getValue();
    window.location.href = "{{ config['SUBFOLDER'] }}/editdatabase/delete/" + getValue()
    return false;
}
</script>

    <div class="panel panel-primary">
        <div class="panel-body">
            <h3> {{ _('Sensor Database') }}</h3>
            <div class="table-responsive">
                <table class="table table-striped">

                    <tr>
                        <td><strong>{{ _('action') }}</strong></td>
                        <td><strong>{{ _('id') }}</strong></td>
                        <td><strong>{{ _('sensor name') }}</strong></td>
                        <td><strong>{{ _('baudrate') }}</strong></td>
                        <td><strong>{{ _('interface') }}</strong></td>
                    </tr>

                    {% for row in data %}
                    <form action="{{ config['SUBFOLDER'] }}/editdatabase/saveeditdatabase/{{ row[0] }}" name="savedatabase" method="POST">
                    <tr>
                        <td>
                            {%  if session['databaserow'] == row[0] %}
                                {% if session['editdatabase'] %}

                                <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok"></span>
                                </button>

                                <button type="button" class="btn btn-default">
                                <a href="{{ config['SUBFOLDER'] }}/editdatabase/canceleditdatabase">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                </button>

                                {% else %}
                                <a href="{{ config['SUBFOLDER'] }}/editdatabase/edit/{{ row[0] }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                {% endif %}
                            {%  else %}
                                <a href="{{ config['SUBFOLDER'] }}/editdatabase/edit/{{ row[0] }}">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </a>
                                <a data-toggle="modal" href="#myModal" onclick="setValue('{{ row[0] }}');">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                                <input type="hidden" id="rowid" value="" />
                            {% endif %}

                        </td>
                        {%  if (session['databaserow'] == row[0]) and (session['editdatabase']) %}
                        <td><input type="text" class="form-control" name="id" value="{{ row[0] }}"></td>
                        <td><input type="text" class="form-control" name="name" value="{{ row[1] }}"></td>
                        <td><input type="text" class="form-control" name="baud" value="{{ row[2] }}"></td>
                        <td><input type="text" class="form-control" name="port" value="{{ row[3] }}"></td>
                        {%  else %}
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        {%  endif %}
                    </tr>
                    </form>
                    {% endfor %}
                    <form action="{{ config['SUBFOLDER'] }}/editdatabase/savenewdatabase" name="savenewdatabase" method="POST">
                    <tr>
                        <td>
                        <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        </td>

                        <td><input type="text" class="form-control" name="id" placeholder="{{ _('id') }}"></td>
                        <td><input type="text" class="form-control" name="name" placeholder="{{ _('name') }}"></td>
                        <td><input type="text" class="form-control" name="baud" placeholder="{{ _('baudrate') }}"></td>
                        <td><input type="text" class="form-control" name="port" placeholder="{{ _('port') }}"></td>

                    </tr>
                    </form>
                </table>
            </div>

        </div>
    </div>

    <!-- Confirm delete -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">{{ _('Confirm Delete') }}</h4>
          </div>
          <div class="modal-body">
              {{ _('DELETE!') }}
          </div>
          <div class="modal-footer">
              <form onsubmit="return doDelete();">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Cancel') }}</button>
                <button type="submit" class="btn btn-primary">{{ _('Confirm Delete') }}</button>
              </form>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
